In [1]:
import quandl

In [2]:
quandl.ApiConfig.api_key = "abcd"

In [3]:
quandl.get("WIKI/AAPL", rows=5)

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2018-03-21,175.04,175.09,171.26,171.270,35247358.0,0.0,1.0,175.04,175.09,171.26,171.270,35247358.0
2018-03-22,170.00,172.68,168.60,168.845,41051076.0,0.0,1.0,170.00,172.68,168.60,168.845,41051076.0
2018-03-23,168.39,169.92,164.94,164.940,40248954.0,0.0,1.0,168.39,169.92,164.94,164.940,40248954.0
2018-03-26,168.07,173.10,166.44,172.770,36272617.0,0.0,1.0,168.07,173.10,166.44,172.770,36272617.0
2018-03-27,173.68,175.15,166.92,168.340,38962839.0,0.0,1.0,173.68,175.15,166.92,168.340,38962839.0

In [5]:
import requests

In [16]:
import pandas as pd

In [11]:
def get_tsla():
    url= "https://api.nasdaq.com/api/quote/TSLA/info?assetclass=stocks"
    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36"}
    response = requests.get(url,headers=headers)
    return response.json()["data"]

In [12]:
get_tsla()

{'symbol': 'TSLA',
 'companyName': 'Tesla, Inc. Common Stock',
 'stockType': 'Common Stock',
 'exchange': 'NASDAQ-GS',
 'isNasdaqListed': True,
 'isNasdaq100': True,
 'isHeld': False,
 'primaryData': {'lastSalePrice': '$684.90',
  'netChange': '-24.54',
  'percentageChange': '-3.46%',
  'deltaIndicator': 'down',
  'lastTradeTimestamp': 'DATA AS OF May 03, 2021',
  'isRealTime': False},
 'secondaryData': None,
 'keyStats': {'Volume': {'label': 'Volume', 'value': '27,043,143'},
  'PreviousClose': {'label': 'Previous Close', 'value': '$709.44'},
  'OpenPrice': {'label': 'Open', 'value': '$703.55'},
  'MarketCap': {'label': 'Market Cap', 'value': '657,403,664,890'}},
 'marketStatus': 'Market Closed',
 'assetClass': 'STOCKS',
 'tradingHeld': None,
 'complianceStatus': None}

In [13]:
get_tsla().keys()

dict_keys(['symbol', 'companyName', 'stockType', 'exchange', 'isNasdaqListed', 'isNasdaq100', 'isHeld', 'primaryData', 'secondaryData', 'keyStats', 'marketStatus', 'assetClass', 'tradingHeld', 'complianceStatus'])

In [14]:
get_tsla().values()

dict_values(['TSLA', 'Tesla, Inc. Common Stock', 'Common Stock', 'NASDAQ-GS', True, True, False, {'lastSalePrice': '$684.90', 'netChange': '-24.54', 'percentageChange': '-3.46%', 'deltaIndicator': 'down', 'lastTradeTimestamp': 'DATA AS OF May 03, 2021', 'isRealTime': False}, None, {'Volume': {'label': 'Volume', 'value': '27,043,143'}, 'PreviousClose': {'label': 'Previous Close', 'value': '$709.44'}, 'OpenPrice': {'label': 'Open', 'value': '$703.55'}, 'MarketCap': {'label': 'Market Cap', 'value': '657,403,664,890'}}, 'Market Closed', 'STOCKS', None, None])

In [15]:
get_tsla().items()

dict_items([('symbol', 'TSLA'), ('companyName', 'Tesla, Inc. Common Stock'), ('stockType', 'Common Stock'), ('exchange', 'NASDAQ-GS'), ('isNasdaqListed', True), ('isNasdaq100', True), ('isHeld', False), ('primaryData', {'lastSalePrice': '$684.90', 'netChange': '-24.54', 'percentageChange': '-3.46%', 'deltaIndicator': 'down', 'lastTradeTimestamp': 'DATA AS OF May 03, 2021', 'isRealTime': False}), ('secondaryData', None), ('keyStats', {'Volume': {'label': 'Volume', 'value': '27,043,143'}, 'PreviousClose': {'label': 'Previous Close', 'value': '$709.44'}, 'OpenPrice': {'label': 'Open', 'value': '$703.55'}, 'MarketCap': {'label': 'Market Cap', 'value': '657,403,664,890'}}), ('marketStatus', 'Market Closed'), ('assetClass', 'STOCKS'), ('tradingHeld', None), ('complianceStatus', None)])

In [17]:
pd.DataFrame.from_dict(get_tsla()).reset_index()

,index,symbol,companyName,stockType,exchange,isNasdaqListed,isNasdaq100,isHeld,primaryData,secondaryData,keyStats,marketStatus,assetClass,tradingHeld,complianceStatus
0,lastSalePrice,TSLA,"Tesla, Inc. Common Stock",Common Stock,NASDAQ-GS,True,True,False,$684.90,None,NaN,Market Closed,STOCKS,None,None
1,netChange,TSLA,"Tesla, Inc. Common Stock",Common Stock,NASDAQ-GS,True,True,False,-24.54,None,NaN,Market Closed,STOCKS,None,None
2,percentageChange,TSLA,"Tesla, Inc. Common Stock",Common Stock,NASDAQ-GS,True,True,False,-3.46%,None,NaN,Market Closed,STOCKS,None,None
3,deltaIndicator,TSLA,"Tesla, Inc. Common Stock",Common Stock,NASDAQ-GS,True,True,False,down,None,NaN,Market Closed,STOCKS,None,None
4,lastTradeTimestamp,TSLA,"Tesla, Inc. Common Stock",Common Stock,NASDAQ-GS,True,True,False,"DATA AS OF May 03, 2021",None,NaN,Market Closed,STOCKS,None,None
5,isRealTime,TSLA,"Tesla, Inc. Common Stock",Common Stock,NASDAQ-GS,True,True,False,False,None,NaN,Market Closed,STOCKS,None,None
6,Volume,TSLA,"Tesla, Inc. Common Stock",Common Stock,NASDAQ-GS,True,True,False,NaN,None,"{'label': 'Volume', 'value': '27,043,143'}",Market Closed,STOCKS,None,None
7,PreviousClose,TSLA,"Tesla, Inc. Common Stock",Common Stock,NASDAQ-GS,True,True,False,NaN,None,"{'label': 'Previous Close', 'value': '$709.44'}",Market Closed,STOCKS,None,None
8,OpenPrice,TSLA,"Tesla, Inc. Common Stock",Common Stock,NASDAQ-GS,True,True,False,NaN,None,"{'label': 'Open', 'value': '$703.55'}",Market Closed,STOCKS,None,None
9,MarketCap,TSLA,"Tesla, Inc. Common Stock",Common Stock,NASDAQ-GS,True,True,False,NaN,None,"{'label': 'Market Cap', 'value': '657,403,664,...",Market Closed,STOCKS,None,None

In [18]:
import json

In [19]:
def get_example():
    url= "http://numbersapi.com/42?json"
    headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36"}
    response = requests.get(url,headers=headers)
    return response.json()

In [22]:
get_example()

{'text': '42 is the angle in degrees for which a rainbow appears or the critical angle.',
 'number': 42,
 'found': True,
 'type': 'trivia'}

In [23]:
get_example()["text"]

'42 is the number of laws of cricket.'

In [24]:
def get_example2():
    url = "https://official-joke-api.appspot.com/jokes/programming/random"
    headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36"}
    response = requests.get(url,headers=headers)
    return response.json()

In [31]:
get_example2()[0]["punchline"]

'Do you know the problem with UDP jokes?'

In [32]:
import pandas_datareader.data as pdr

In [37]:
start = "2007-01-01"
end = "2007-12-31"
names = 'AAPL'
data_source = 'quandl'
aapl = pdr.DataReader(name=names,data_source=data_source,start=start,end=end,api_key = "aXnSDpzVbV1eArEcGfya")

In [38]:
aapl

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2007-12-31,199.50,200.50,197.7500,198.08,19261900.0,0.0,1.0,25.638531,25.767044,25.413631,25.456041,134833300.0
2007-12-28,200.59,201.56,196.8801,199.83,24987400.0,0.0,1.0,25.778611,25.903269,25.301837,25.680940,174911800.0
2007-12-27,198.95,202.96,197.8000,198.57,28411700.0,0.0,1.0,25.567848,26.083189,25.420057,25.519013,198881900.0
2007-12-26,199.01,200.96,196.8200,198.95,25133300.0,0.0,1.0,25.575559,25.826161,25.294113,25.567848,175933100.0
2007-12-24,195.03,199.33,194.7900,198.80,17150100.0,0.0,1.0,25.064073,25.616683,25.033230,25.548571,120050700.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2007-01-09,86.45,92.98,85.1500,92.57,119617800.0,0.0,1.0,11.110030,11.949226,10.942962,11.896535,837324600.0
2007-01-08,85.96,86.53,85.2800,85.47,28468100.0,0.0,1.0,11.047058,11.120311,10.959669,10.984086,199276700.0
2007-01-05,85.77,86.20,84.4000,85.05,29812200.0,0.0,1.0,11.022640,11.077901,10.846576,10.930110,208685400.0
2007-01-04,84.05,85.95,83.8200,85.66,30259300.0,0.0,1.0,10.801596,11.045773,10.772038,11.008504,211815100.0
2007-01-03,86.29,86.58,81.9000,83.80,44225700.0,0.0,1.0,11.089468,11.126737,10.525291,10.769468,309579900.0

In [39]:
import alpaca_trade_api as alpaca
api_key = "sdad"
api_secret =  "dfsdfs"
base_url = "https://paper-api.alpaca.markets"

In [40]:
alpaca_api = alpaca.REST(api_key,api_secret)

In [42]:
alpaca_api.get_barset("AAPL","1D").df

                             AAPL
                             open    high      low     close     volume
time
2020-12-08 00:00:00-05:00  124.37  124.98  123.090  124.3300   69695298
2020-12-09 00:00:00-05:00  124.53  125.95  121.000  121.6700   99218318
2020-12-10 00:00:00-05:00  120.50  123.87  120.150  123.2200   70011939
2020-12-11 00:00:00-05:00  122.43  122.76  120.550  122.4900   75289233
2020-12-14 00:00:00-05:00  122.60  123.35  121.550  121.7700   65119346
...                           ...     ...      ...       ...        ...
2021-04-27 00:00:00-04:00  135.06  135.41  134.110  134.3900   58749567
2021-04-28 00:00:00-04:00  134.29  135.02  133.080  133.7801   80514624
2021-04-29 00:00:00-04:00  136.47  137.07  132.450  133.4800  140513376
2021-04-30 00:00:00-04:00  131.80  133.56  131.065  131.5300   96118913
2021-05-03 00:00:00-04:00  132.01  134.07  131.830  132.5563   67091433

[100 rows x 5 columns]