# this is an example

In [1]:
a=3

In [2]:
b=4

In [3]:
a*b

12

In [4]:
a/b

0.75

In [10]:
a*b #this is a comment

12

In [6]:
a

3

In [8]:
print(a)

3

In [9]:
type(a)

int

In [14]:
title = "texas"
years = 25
hourly_wage  = 27.48
expert_status = True

total_mile = 453
gallon_of_gas=25

In [16]:
type(total_mile)

int

In [18]:
type(hourly_wage)

float

In [25]:
miles_per_gallon = total_mile / gallon_of_gas
miles_per_gallon

18.12

In [23]:
type(miles_per_gallon)

float

In [24]:
print(" miles per gallon is : ",miles_per_gallon)

 miles per gallon is :  18.12

In [45]:
original_price=34.03

In [46]:
type(original_price)

float

In [48]:
current_price=45.87

In [49]:
increase = current_price - original_price

In [50]:
percent_increase = increase/original_price*100

In [54]:
print(f"Percent Increases ${round(percent_increase,2)}")

Percent Increases $34.79

In [52]:
round(percent_increase,2)

34.79

In [57]:
is_raining = False
if is_raining:
    print("bring an umbrella")
else:
    print("don't take the umbrella")

don't take the umbrella

In [69]:
x = 1
y = 10
z = 6
k = 6

if x == 1:
    print("x is equal to one")
if y != 1:
    print("y is not 1")
if y > z:
    print(" y is bigger than z")
if k >= z:
    print("k is greater or equal to z")
if x ==1 and y < 10:
    print("x is 1 and y is less than 10")
if x ==1 or y < 10:
    print("x is 1 or y is less than 10")
else:
    print("x is not one")

x is equal to one
y is not 1
 y is bigger than z
k is greater or equal to z
x is 1 or y is less than 10

In [70]:
list(range(5))

[0, 1, 2, 3, 4]

In [73]:
for x in range(5):
    print(x)

0
1
2
3
4

In [75]:
for x in range(2,7):
    print(x)

2
3
4
5
6

In [82]:
ch = "Cheer"
for x in ch:
    print(f"Say hello to {x}")

Say hello to C
Say hello to h
Say hello to e
Say hello to e
Say hello to r

In [ ]:
run = "y"
while run == "y":
    print("Hi")
    run = input("to run again, enter y")

Hi
to run again, enter yy
Hi
to run again, enter yy
Hi
to run again, enter yy
Hi

In [7]:
# Import the `random` library.
import random as rd
#import numpy as np
# Answer each question with the correct coding solution.

# QUESTION 1: Create a function called `number_guess` that takes in an integer as an argument.
# If the number is 42, print(true). If it isn't 42, print(false)

def number_guess(x):
    #x = int(number)
    if x == 42:
        print("true")
    else:
        print("false")

    
# This code is to help you test your function
num = rd.random
number_guess(num)
# QUESTION 2: Write a function that takes in a list of numbers. the function should print the smallest number in the given list

def show_list(list1):
    list1.sort()   
    print(f"smallest number in the list is {list1[0]}")
    
# This code is to help you test your function
list1 = [20,10,12,5,4]
show_list(list1)

# QUESTION 3: Write a function which takes in a list of strings. The function should print the shortest string in the list.

def show_string_list(list_str):
    res = min(len(ele) for ele in list_str)
    print("Length of minimum string is : " + str(res))
# This code is to help you test your function
my_string = ["some", "example", "words", "that", "i", "am", "fond", "of"]
show_string_list(my_string)

#QUESTION 4: Write a function that takes in three arguments: a high value, a low value and a list of numbers.

# The function should print a new list of numbers where the elements are greater than the low value and less than the high value
def high_low(k,l,list_nums):
    new_list = []
    for i in list_nums :
        if i < k and i > l:
            new_list.append(i)
    print(new_list)    

# This code is to help you test your function
high_low(19,5,[5,9,2,4,6,7,11,12,16,1,18,10])

false
smallest number in the list is 4
Length of minimum string is : 1
[9, 6, 7, 11, 12, 16, 18, 10]