In [7]:
a=6.9

In [8]:
type(a)

float

In [9]:
int(a)

6

In [14]:
my_tuple=(1,2,3,4,"a","b","c")

In [12]:
type(my_tuple)

tuple

In [15]:
my_tuple.index("a")

4

In [17]:
my_tuple2 = my_tuple + ("z",7)

In [18]:
my_tuple2

(1, 2, 3, 4, 'a', 'b', 'c', 'z', 7)

In [19]:
my_set = {1,2,3,4,"a","b","c","a",1}

In [20]:
type(my_set)

set

In [21]:
my_set

{1, 2, 3, 4, 'a', 'b', 'c'}

In [22]:
my_set.add("t")

In [23]:
my_set

{1, 2, 3, 4, 'a', 'b', 'c', 't'}

In [13]:
my_list = [1,2,3,4,"a","b","c"]

In [16]:
my_list.count("a")

1

In [26]:
type(str(45.5))

str

In [27]:
float(str(4.5))

4.5

In [28]:
str("name")

'name'

In [53]:
s = "      python IS nice: i Like it    "

In [31]:
s

'     python IS nice: i Like it    '

In [36]:
s.capitalize()

'    python is nice: i like it    '

In [37]:
s.replace("e","k")

'    python IS nick: i Likk it    '

In [38]:
s.replace(" ","")

'pythonISnice:iLikeit'

In [39]:
s.upper()

'    PYTHON IS NICE: I LIKE IT    '

In [40]:
s.lstrip()

'python IS nice: i Like it    '

In [43]:
s.split()

['python', 'IS', 'nice:', 'i', 'Like', 'it']

In [44]:
s.split()[2]

'nice:'

In [49]:
s2 = s.split(":")

In [51]:
s2

['    python IS nice', ' i Like it    ']

In [54]:
s.find("p")

6

In [55]:
s.isspace()

False

In [56]:
s.strip()

'python IS nice: i Like it'

In [57]:
s.swapcase()

'      PYTHON is NICE: I lIKE IT    '

In [58]:
s.title()

'      Python Is Nice: I Like It    '

In [ ]:
###### List

In [65]:
my_fav_list = ["chocolate",["beach_front", "moutains"], "breakfast_tacos",9, 4.59]

In [66]:
my_fav_list

['chocolate', ['beach_front', 'moutains'], 'breakfast_tacos', 9, 4.59]

In [67]:
list(enumerate(my_fav_list))

[(0, 'chocolate'),
 (1, ['beach_front', 'moutains']),
 (2, 'breakfast_tacos'),
 (3, 9),
 (4, 4.59)]

In [69]:
my_fav_list[1][0]

'beach_front'

In [70]:
my_fav_list[1][1]

'moutains'

In [72]:
pokemon = ["pikachu", "charizard", "bulbasaur", "gyarados", "dragonite", "onyx"]

In [73]:
pokemon

['pikachu', 'charizard', 'bulbasaur', 'gyarados', 'dragonite', 'onyx']

In [74]:
list(enumerate(pokemon))

[(0, 'pikachu'),
 (1, 'charizard'),
 (2, 'bulbasaur'),
 (3, 'gyarados'),
 (4, 'dragonite'),
 (5, 'onyx')]

In [75]:
pokemon[0]

'pikachu'

In [76]:
pokemon[2:5]

['bulbasaur', 'gyarados', 'dragonite']

In [77]:
pokemon[3:]

['gyarados', 'dragonite', 'onyx']

In [86]:
pokemon[3::]

['gyarados', 'dragonite', 'onyx']

In [88]:
pokemon[-1]

'onyx'

In [89]:
pokemon.index("bulbasaur")

2

In [93]:
pokemon.append("magikarp")

In [94]:
pokemon

['pikachu',
 'charizard',
 'bulbasaur',
 'gyarados',
 'dragonite',
 'onyx',
 'new',
 'new',
 'new pokemon',
 'magikarp']

In [110]:
pokemon.extend(["a","b","c","d"])

In [98]:
pokemon

['pikachu',
 'charizard',
 'bulbasaur',
 'gyarados',
 'dragonite',
 'onyx',
 'new',
 'new',
 'new pokemon',
 'magikarp',
 'a',
 'b',
 'a',
 'b',
 'c',
 'd']

In [102]:
pokemon.remove("a")

In [103]:
pokemon

['pikachu',
 'charizard',
 'bulbasaur',
 'gyarados',
 'dragonite',
 'onyx',
 'new',
 'new',
 'new pokemon',
 'magikarp',
 'b',
 'b',
 'c',
 'd']

In [104]:
pokemon.pop()

'd'

In [105]:
pokemon

['pikachu',
 'charizard',
 'bulbasaur',
 'gyarados',
 'dragonite',
 'onyx',
 'new',
 'new',
 'new pokemon',
 'magikarp',
 'b',
 'b',
 'c']

In [106]:
pokemon.reverse()

In [107]:
pokemon.sort()

In [108]:
pokemon

['b',
 'b',
 'bulbasaur',
 'c',
 'charizard',
 'dragonite',
 'gyarados',
 'magikarp',
 'new',
 'new',
 'new pokemon',
 'onyx',
 'pikachu']

In [111]:
pokemon.count("a")

1

In [113]:
pokemon.insert(0,"Ted")

In [114]:
pokemon

['Ted',
 'b',
 'b',
 'bulbasaur',
 'c',
 'charizard',
 'dragonite',
 'gyarados',
 'magikarp',
 'new',
 'new',
 'new pokemon',
 'onyx',
 'pikachu',
 'a',
 'b',
 'c',
 'd']

In [115]:
grocer_list = ["Water", "Butter", "Eggs", "Apples", "Cinnamon", "Sugar", "Milk"]

In [116]:
grocer_list

['Water', 'Butter', 'Eggs', 'Apples', 'Cinnamon', 'Sugar', 'Milk']

In [117]:
grocer_list[:2]

['Water', 'Butter']

In [119]:
grocer_list[2:]

['Eggs', 'Apples', 'Cinnamon', 'Sugar', 'Milk']

In [133]:
grocer_list[1::2]

['Butter', 'Gala Apples', 'Sugar', 'four']

In [122]:
grocer_list.append("Flour")

In [123]:
grocer_list

['Water',
 'Butter',
 'Eggs',
 'Apples',
 'Cinnamon',
 'Sugar',
 'Milk',
 'four',
 'Flour']

In [127]:
grocer_list.index("Apples")

3

In [128]:
grocer_list[3] = "Gala Apples"

In [129]:
grocer_list

['Water',
 'Butter',
 'Eggs',
 'Gala Apples',
 'Cinnamon',
 'Sugar',
 'Milk',
 'four',
 'Flour']

In [130]:
len(grocer_list)

9

In [132]:
grocer_list[2:7]
grocer_list[-5:]

['Cinnamon', 'Sugar', 'Milk', 'four', 'Flour']

In [135]:
grocer_list.remove("four")

In [136]:
pokemon

['Ted',
 'b',
 'b',
 'bulbasaur',
 'c',
 'charizard',
 'dragonite',
 'gyarados',
 'magikarp',
 'new',
 'new',
 'new pokemon',
 'onyx',
 'pikachu',
 'a',
 'b',
 'c',
 'd']

In [138]:
for x in pokemon:
    print(x)

Ted
b
b
bulbasaur
c
charizard
dragonite
gyarados
magikarp
new
new
new pokemon
onyx
pikachu
a
b
c
d

In [139]:
cash_tips = [22,10,30,45,54,60,56]

In [140]:
type(cash_tips)

list

In [141]:
for x in cash_tips:
    print(x)

22
10
30
45
54
60
56

In [147]:
cash_tips = [22,10,30,45,54,60,56]
count = 0
total = 0
average = 0
minimum = 0
maximum = 0
for tip in cash_tips:
    total = total + tip
    count = count + 1
    
    if minimum == 0:
        minimum = tip
    elif tip < minimum:
        minimum = tip
    
    if tip > maximum:
        maximum = tip
    
average = round(total / count, 2)

print(f"Days I worked is: {count}")
print(average)
print(minimum)
print(maximum)

Days I worked is: 7
39.57
10
60

In [150]:
count = 0
total = 0
daily_average = 0
worst_lost = 0
best_gain =0
profitable_days = []
unprofitable_days = []
no_profitable_days = 0
no_unprofitable_days = 0
percent_profitable_days = 0
percent_unprofitable_days = 0

trading_pnl = [ -224,  352, 252, 354, -544,
                -650,   56, 123, -43,  254,
                 325, -123,  47, 321,  123,
                 133, -151, 613, 232, -311 ]

for trade in trading_pnl:
    total = total + trade
    count = count + 1
    
    if trade > 0:
        profitable_days.append(trade)
        
    if trade <= 0:
        unprofitable_days.append(trade)
       
    if worst_lost <= 0:
        worst_lost = trade
        
    elif trade < worst_lost:
        worst_lost = trade
    
    if trade > best_gain:
        best_gain = trade
    
daily_average = round(total / count, 2)
no_profitable_days = len(profitable_days)
no_unprofitable_days = len(unprofitable_days)
percent_profitable_days = no_profitable_days/count*100
percent_unprofitable_days = no_unprofitable_days/count*100

print(f"Days I worked is: {count}")
print(daily_average)
print(percent_profitable_days)
print(percent_unprofitable_days)

Days I worked is: 20
56.95
65.0
35.0

In [151]:
top_traders_2009 = {
    "jan" : "karon",
    "feb" : "harold",
    "mar" : "sam"
}

In [152]:
top_traders_2009

{'jan': 'karon', 'feb': 'harold', 'mar': 'sam'}

In [158]:
top_traders_2009.items()

dict_items([('jan', 'karon'), ('feb', 'harold'), ('mar', 'sam')])

In [153]:
top_traders_2009.keys()

dict_keys(['jan', 'feb', 'mar'])

In [154]:
top_traders_2009.values()

dict_values(['karon', 'harold', 'sam'])

In [155]:
top_traders_2009["jan"]

'karon'

In [157]:
for x in top_traders_2009:
    print(x)

jan
feb
mar

In [161]:
for y in top_traders_2009.values():
    print(y)

karon
harold
sam

In [162]:
for x,y in top_traders_2009.items():
    print(x,y)

jan karon
feb harold
mar sam

In [163]:
import pandas as pd

In [167]:
top_traders_2009_df = pd.DataFrame(top_traders_2009.items(), columns = ["month", "name"])

In [168]:
top_traders_2009_df

  month    name
0   jan   karon
1   feb  harold
2   mar     sam

In [171]:
top_traders_2009_df["name"]

0     karon
1    harold
2       sam
Name: name, dtype: object

In [172]:
top_traders_2009_df.columns

Index(['month', 'name'], dtype='object')

In [ ]:
top_traders_2009_df.

In [ ]:
# list of lists [ [] ]

In [173]:
ceo_nested_list = [
    ["Warren Buffet", 88, "CEO of Berkshire Hathaway"],
    ["Jeff Bezos", 55, "CEO of Amazon"],
    ["Harry Markowitz", 91, "Professor of Finance"]
]

In [174]:
ceo_nested_list

[['Warren Buffet', 88, 'CEO of Berkshire Hathaway'],
 ['Jeff Bezos', 55, 'CEO of Amazon'],
 ['Harry Markowitz', 91, 'Professor of Finance']]

In [176]:
ceo_nested_list[0][0]

'Warren Buffet'

In [ ]:
# list of dicts [ {} ]

In [177]:
ceo_nested_dict = [
    {
        "name": "Warren Buffet",
        "age": 88,
        "occupation": "CEO of Berkshire Hathaway"
    },
    {
        "name": "Jeff Bezos",
        "age": 55,
        "occupation": "CEO of Amazon"
    },
    {
        "name": "Harry Markowitz",
        "age": 91,
        "occupation": "Professor of Finance"
    }
]

In [180]:
ceo_nested_dict[1]["name"]

'Jeff Bezos'

In [181]:
pd.DataFrame(ceo_nested_dict)

              name  age                 occupation
0    Warren Buffet   88  CEO of Berkshire Hathaway
1       Jeff Bezos   55              CEO of Amazon
2  Harry Markowitz   91       Professor of Finance

In [ ]:
# dict of lists { [] }

In [182]:
stocks_nested_list = {
    "APPL": ["Apple", 101.32, "NASDAQ", 937.7],
    "MU": ["Micron Technology", 32.12, "NASDAQ", 48.03],
    "AMD": ["Advanced Micro Devices", 23.12, "NASDAQ", 29.94],
    "TWTR": ["Twitter", 34.40, "NASDAQ", 26.42]
}

In [185]:
stocks_nested_list.keys()

dict_keys(['APPL', 'MU', 'AMD', 'TWTR'])

In [186]:
stocks_nested_list.values()

dict_values([['Apple', 101.32, 'NASDAQ', 937.7], ['Micron Technology', 32.12, 'NASDAQ', 48.03], ['Advanced Micro Devices', 23.12, 'NASDAQ', 29.94], ['Twitter', 34.4, 'NASDAQ', 26.42]])

In [183]:
stocks_nested_list["APPL"]

['Apple', 101.32, 'NASDAQ', 937.7]

In [188]:
stocks_nested_list["APPL"][1]

101.32

In [193]:
pd.DataFrame(stocks_nested_list.items())

      0                                               1
0  APPL                  [Apple, 101.32, NASDAQ, 937.7]
1    MU       [Micron Technology, 32.12, NASDAQ, 48.03]
2   AMD  [Advanced Micro Devices, 23.12, NASDAQ, 29.94]
3  TWTR                  [Twitter, 34.4, NASDAQ, 26.42]

In [208]:
portfolio1 = pd.DataFrame(stocks_nested_list.values(),columns = ["company name", "closing price", "industry", "market cap in millions"])

In [210]:
portfolio1["closing price"].min()

23.12

In [ ]:
# dict of dicts { {} }

In [194]:
stocks_nested_dict = {
    "APPL": {
        "name": "Apple",
        "exchange": "NASDAQ",
        "market_cap": 937.7
    },
    "MU": {
        "name": "Micron Technology",
        "exchange": "NASDAQ",
        "market_cap": 48.03
    },
    "AMD": {
        "name": "Advanced Micro Devices",
        "exchange": "NASDAQ",
        "market_cap": 29.94
    },
    "TWTR": {
        "name": "Twitter",
        "exchange": "NASDAQ",
        "market_cap": 26.42
    }
}

In [196]:
stocks_nested_dict.keys()

dict_keys(['APPL', 'MU', 'AMD', 'TWTR'])

In [197]:
stocks_nested_dict.values()

dict_values([{'name': 'Apple', 'exchange': 'NASDAQ', 'market_cap': 937.7}, {'name': 'Micron Technology', 'exchange': 'NASDAQ', 'market_cap': 48.03}, {'name': 'Advanced Micro Devices', 'exchange': 'NASDAQ', 'market_cap': 29.94}, {'name': 'Twitter', 'exchange': 'NASDAQ', 'market_cap': 26.42}])

In [198]:
stocks_nested_dict

{'APPL': {'name': 'Apple', 'exchange': 'NASDAQ', 'market_cap': 937.7},
 'MU': {'name': 'Micron Technology',
  'exchange': 'NASDAQ',
  'market_cap': 48.03},
 'AMD': {'name': 'Advanced Micro Devices',
  'exchange': 'NASDAQ',
  'market_cap': 29.94},
 'TWTR': {'name': 'Twitter', 'exchange': 'NASDAQ', 'market_cap': 26.42}}

In [199]:
stocks_nested_dict["MU"]["exchange"]

'NASDAQ'

In [200]:
pd.DataFrame.from_dict(stocks_nested_dict,orient="index")

                        name exchange  market_cap
APPL                   Apple   NASDAQ      937.70
MU         Micron Technology   NASDAQ       48.03
AMD   Advanced Micro Devices   NASDAQ       29.94
TWTR                 Twitter   NASDAQ       26.42

In [202]:
# functions

market_price = 10
number_of_shares_outstanding = 10000

market_cap = market_price * number_of_shares_outstanding 

market_cap

100000

In [203]:
def calclate_market_cap(market_price, number_of_shares_outstanding):
    market_cap = market_price * number_of_shares_outstanding
    return market_cap

In [204]:
calclate_market_cap(5,7)

35

In [205]:
google_market_cap = calclate_market_cap(251,9000000)
google_market_cap

2259000000

In [211]:
new_records = {
    "AAPL": {
        "date": "04-21-2019",
        "open": 200.85,
        "high": 201.00,
        "low": 198.44,
        "close": 198.95
    },
    "MU": {
        "date": "04-21-2019",
        "open": 42.85,
        "high": 43.20,
        "low": 41.81,
        "close": 42.01
    },
    "AMD": {
        "date": "04-21-2019",
        "open": 28.21,
        "high": 28.38,
        "low": 27.66,
        "close": 27.85
    },
    "TWTR": {
        "date": "04-21-2019",
        "open": 34.67,
        "high": 34.83,
        "low": 34.11,
        "close": 34.37
    }
}

In [213]:
new_records["AAPL"]["date"]

'04-21-2019'

In [215]:
new_records_df = pd.DataFrame.from_dict(new_records, orient="index")

In [216]:
new_records_df.date

AAPL    04-21-2019
MU      04-21-2019
AMD     04-21-2019
TWTR    04-21-2019
Name: date, dtype: object

In [217]:
new_records["AAPL"]["high"]

201.0